.forheader{

  background-color: black;
  width: auto;
  height: 200px;

}



#text{

  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 900px;
  color: white;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;

}

.box{
  padding-top: 50px;
  padding-left: 900px;
}

.scroll-bar{

  height: 600px;
  width: 300px;
  border: 1px solid black;
  overflow: auto;
  margin-top: 20px;
  background-color: green;

}

#label{
  font-weight: bold;
  margin-right: 5px;
}